<% @lists.each do |list| %>
  <h3><%= link_to list.name, list %></h3>
  <% end %>

<%= cl_image_tag("ccwtivm5ayfdnzu5akrw",
      width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("g3zvfvxsxtaibjccnof6",
      width: 400, height: 300, crop: :fill) %>
